body {
  width: 100%;
  position: relative; }

.loader-pos {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(18, 19, 23, 0.9);
  display: none; }
  .loader-pos .loader {
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 100px; }
    .loader-pos .loader #loader-img {
      width: 100%;
      height: 100%; }

.hidden {
  display: none; }

.button {
  margin-top: 20px;
  border: 0;
  background-color: #D39E41;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  box-shadow: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f1705d; }
  .button.active {
    background-color: #796570; }

.form_element {
  outline: none;
  position: relative;
  display: block;
  height: 60px;
  width: 100%; }

.textfield {
  padding: 5px 14px 5px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-top-width: 0px;
  text-align: left;
  font-size: 19px;
  color: #828282; }
  .textfield:first-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    border-top-width: 2px; }
  .textfield:last-child {
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px; }

.stage {
  min-height: 320px;
  position: relative;
  z-index: 99;
  padding-top: 50px;
  margin: auto;
  z-index: 5; }

.login_view .login_form_wrapper {
  position: relative;
  width: 300px;
  height: 500px;
  margin-left: auto;
  margin-right: auto; }
