body {
  width: 100%;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}

.loader-pos {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(18, 19, 23, 0.9);
  display: none;
}
.loader-pos .loader {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 100px;
}
.loader-pos .loader #loader-img {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.button {
  margin-top: 20px;
  border: 0;
  background-color: #D39E41;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  box-shadow: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f1705d;
}
.button.active {
  background-color: #796570;
}

.main-stage {
  min-height: 320px;
  position: relative;
  z-index: 99;
  padding-top: 50px;
  margin: auto;
  z-index: 5;
  max-width: 1366px;
  width: 100%;
  margin: auto;
}

.form_element {
  outline: none;
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  font-size: 19px;
}

.textfield {
  padding: 5px 14px 5px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-top-width: 0px;
  text-align: left;
  font-size: 19px;
  color: #828282;
}
.textfield:first-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  border-top-width: 2px;
}
.textfield:last-child {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}

p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

.error {
  color: red;
  line-height: 31px;
  margin: 0;
  height: 12px;
}

.signin_view {
  width: 100%;
  width: 350px;
  margin: auto;
}
.signin_view #signin_region .login_view .login_form_wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.signin_view #signin_region .register_view .register_form_wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.signin_view .signin_link {
  cursor: pointer;
  padding: 10px 0;
  color: #f1705d;
  font-size: 18px;
}
.signin_view .signin_link:active {
  color: #f1705d;
}
.signin_view .signin_link:visited, .signin_view .signin_link:hover {
  color: #f1705d;
}

.dashboard_view {
  background-image: url("../media/image/lnsu_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 798px;
}
.dashboard_view .dashboard_container {
  padding: 25px;
  height: calc(100% - 50px);
  display: flex;
}
.dashboard_view .dashboard_container .highscore_region {
  width: 320px;
  height: 314px;
  margin: 405px 0 0 120px;
  position: relative;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}
.dashboard_view .dashboard_container .playersearch_region {
  width: 320px;
  height: 295px;
  margin: 250px 80px 0 80px;
  position: relative;
}
.dashboard_view .dashboard_container .profile_region {
  width: 320px;
  height: 627px;
  margin-top: 88px;
  position: relative;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}

.highscore_view {
  width: 100%;
  height: 100%;
}
.highscore_view .highscore_content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.highscore_view .highscore_content .highscore_header {
  padding: 25px 25px 23px 25px;
  background-color: #fbfbfb;
}
.highscore_view .highscore_content .highscore_header .headline {
  font-size: 18px;
  line-height: 26px;
  color: #40547e;
}
.highscore_view .highscore_content .highscore_header .subline {
  font-size: 12px;
  color: #bcbcbc;
}
.highscore_view .highscore_content .highscores {
  background-color: #fbfaf8;
}
.highscore_view .highscore_content .highscores .highscore_collection .highscore_item {
  border-top: 1px solid #bababa;
  line-height: 14px;
  font-size: 14px;
  padding: 15px 25px;
}
.highscore_view .highscore_content .highscores .highscore_collection .highscore_item .username {
  color: #495c84;
}
.highscore_view .highscore_content .highscores .highscore_collection .highscore_item .elo {
  color: #bababa;
}

.playersearch_view {
  width: 100%;
  height: 100%;
}
.playersearch_view .playersearch_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.playersearch_view .playersearch_container .play_bg {
  width: 310px;
  height: 295px;
  position: absolute;
  z-index: 1;
  background-image: url("../media/image/steuerrad.png");
  background-repeat: no-repeat;
  background-position: center;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.playersearch_view .playersearch_container .play_bg.rotate {
  -webkit-animation: rotating 12s linear infinite;
}
.playersearch_view .playersearch_container p {
  display: inline-block;
  color: #c34f7d;
  font-size: 110px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin-top: 80px;
  z-index: 2;
}
.playersearch_view .playersearch_container p:active {
  color: #972c67;
}

.profile_view {
  width: 100%;
}
.profile_view .profile_view_container {
  width: 100%;
  background-color: #fbfaf8;
}
.profile_view .profile_view_container .profile_head {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eae9e8;
}
.profile_view .profile_view_container .profile_head img {
  padding-top: 55px;
  margin: auto;
  display: block;
}
.profile_view .profile_view_container .profile_head .ingame_name {
  font-size: 21px;
  color: #495c84;
  text-align: center;
  padding-top: 20px;
}
.profile_view .profile_view_container .profile_head .ingame_name:before {
  content: "";
  background-image: url("../media/image/ranks/default_rank.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 20px;
}
.profile_view .profile_view_container .profile_head .ranking_name {
  font-size: 13px;
  color: #bc4a77;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 25px;
}
.profile_view .profile_view_container .profile_stats {
  color: #495c84;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #eae9e8;
  display: flex;
}
.profile_view .profile_view_container .profile_stats .stat {
  width: 33%;
  text-align: right;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.profile_view .profile_view_container .profile_stats .stat p {
  padding: 23px 20px;
}
.profile_view .profile_view_container .profile_stats .wins {
  background-image: url("../media/image/wins_icon.png");
}
.profile_view .profile_view_container .profile_stats .loses {
  background-image: url("../media/image/loses_icon.png");
  border-left: 1px solid #eae9e8;
  border-right: 1px solid #eae9e8;
}
.profile_view .profile_view_container .profile_stats .elo {
  color: #fbfaf8;
  position: relative;
}
.profile_view .profile_view_container .profile_stats .elo p {
  padding: 0;
  position: absolute;
  letter-spacing: 2px;
  top: 20px;
  right: 20px;
  font-size: 21px;
  text-shadow: 3px 0 0 #495c84, -3px 0 0 #495c84, 0 3px 0 #495c84, 0 -3px 0 #495c84, 2px 2px #495c84, -2px -2px 0 #495c84, 2px -2px 0 #495c84, -2px 2px 0 #495c84;
}
