@font-face {
  font-family: 'InterstateMazdaRegular';
  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
}
body {
  width: 100%;
  position: relative;
  font-family: 'Montserrat', Helvetica, Arial;
  font-weight: normal;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}

.loader-pos {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(18, 19, 23, 0.9);
  display: none;
}
.loader-pos .loader {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 200px;
}
.loader-pos .loader #loader-img {
  width: 100%;
  height: 100%;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader-pos .loader #loader-img.rotate {
  -webkit-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

.hidden {
  display: none;
}

.button {
  margin-top: 20px;
  border: 0;
  background-color: #bc4a77;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  box-shadow: none;
  cursor: pointer;
  border-radius: 3px;
}
.button.active {
  background-color: #796570;
}

.link {
  color: #bc4a77;
}

.main-stage {
  min-height: 320px;
  position: relative;
  z-index: 99;
  padding-top: 50px;
  margin: auto;
  z-index: 5;
  width: 1366px;
  margin: auto;
}

.form_element {
  outline: none;
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  font-size: 19px;
}

.textfield {
  padding: 5px 14px 5px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-top-width: 0px;
  text-align: left;
  font-size: 19px;
  color: #828282;
}
.textfield:first-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  border-top-width: 2px;
}
.textfield:last-child {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}

@keyframes buttonhHover {
  from {
    color: rgba(195, 79, 125, 0.9);
  }
  to {
    color: rgba(151, 44, 103, 0.9);
  }
}
p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

.error {
  color: red;
  line-height: 31px;
  margin: 0;
  height: 12px;
}

.signin_view {
  width: 100%;
  width: 350px;
  margin: auto;
}
.signin_view #signin_region .login_view .login_form_wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.signin_view #signin_region .register_view .register_form_wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.signin_view .signin_link {
  cursor: pointer;
  padding: 10px 0;
  color: #f1705d;
  font-size: 18px;
}
.signin_view .signin_link:active {
  color: #f1705d;
}
.signin_view .signin_link:visited, .signin_view .signin_link:hover {
  color: #f1705d;
}

.dashboard_view {
  background-image: url("../media/image/lnsu_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 798px;
}
.dashboard_view .dashboard_container {
  padding: 25px;
  position: relative;
  height: calc(100% - 50px);
  display: flex;
  overflow: hidden;
}
.dashboard_view .dashboard_container .logo_container {
  width: 256px;
  height: 264px;
  position: absolute;
  top: 74px;
  left: 177px;
  -perspective: 1000;
  -webkit-perspective: 1000;
}
.dashboard_view .dashboard_container .logo_container .logo_flipper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
}
.dashboard_view .dashboard_container .logo_container .logo_flipper.admin.hoverLogo {
  transform: rotateY(180deg);
}
.dashboard_view .dashboard_container .logo_container .logo_flipper .logo, .dashboard_view .dashboard_container .logo_container .logo_flipper .admin_btn {
  position: absolute;
  top: 0px;
  left: 0px;
  backface-visibility: hidden;
}
.dashboard_view .dashboard_container .logo_container .logo_flipper .logo {
  background-image: url("../media/image/logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: rotateY(0deg);
}
.dashboard_view .dashboard_container .logo_container .logo_flipper .logo.pointer {
  cursor: pointer;
}
.dashboard_view .dashboard_container .logo_container .logo_flipper .admin_btn {
  transform: rotateY(180deg);
  background-color: #faf9f7;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  z-index: 2;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}
.dashboard_view .dashboard_container .logo_container .logo_flipper .admin_btn .admin_headline {
  font-size: 18px;
  line-height: 30px;
  color: #40547e;
}
.dashboard_view .dashboard_container .logo_container .logo_flipper .admin_btn .admin_subline {
  font-size: 12px;
  line-height: 16px;
  color: #bcbcbc;
}
.dashboard_view .dashboard_container .logo_container .logo_flipper .admin_btn .button {
  background-color: #bc4a77;
}
.dashboard_view .dashboard_container .admin_region {
  position: absolute;
  top: -748px;
  left: 50px;
  height: 698px;
  width: 1266px;
  z-index: 3;
}
.dashboard_view .dashboard_container .highscore_region {
  width: 320px;
  height: 314px;
  margin: 405px 0 0 120px;
  position: relative;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}
.dashboard_view .dashboard_container .playersearch_region {
  width: 320px;
  height: 295px;
  margin: 250px 80px 0 80px;
  position: relative;
}
.dashboard_view .dashboard_container .profile_region {
  width: 320px;
  height: 652px;
  margin-top: 68px;
  position: relative;
  background-color: #faf9f7;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}

.highscore_view {
  width: 100%;
  height: 100%;
}
.highscore_view .highscore_content {
  width: 100%;
  height: 100%;
}
.highscore_view .highscore_content .dreizack_img {
  position: absolute;
  top: 0;
  right: 0;
}
.highscore_view .highscore_content .fisch_img {
  position: absolute;
  bottom: -50px;
  left: -90px;
}
.highscore_view .highscore_content .highscore_header {
  padding: 25px 25px 23px 25px;
  background-color: #faf9f7;
}
.highscore_view .highscore_content .highscore_header .headline {
  font-size: 18px;
  line-height: 26px;
  color: #40547e;
}
.highscore_view .highscore_content .highscore_header .subline {
  font-size: 12px;
  color: #bcbcbc;
}
.highscore_view .highscore_content .highscores {
  background-color: #f6f5f3;
  overflow: hidden;
  height: 226px;
}
.highscore_view .highscore_content .highscores .highscore_collection .highscore_item {
  border-top: 1px solid #eae9e8;
  line-height: 14px;
  font-size: 14px;
  padding: 15px 25px;
}
.highscore_view .highscore_content .highscores .highscore_collection .highscore_item .username {
  color: #495c84;
}
.highscore_view .highscore_content .highscores .highscore_collection .highscore_item .elo {
  color: #bababa;
}

.playersearch_view {
  width: 100%;
  height: 100%;
}
.playersearch_view .playersearch_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.playersearch_view .playersearch_container .play_bg {
  width: 310px;
  height: 295px;
  position: absolute;
  z-index: 1;
  background-image: url("../media/image/steuerrad.png");
  background-repeat: no-repeat;
  background-position: center;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.playersearch_view .playersearch_container .play_bg.rotate {
  -webkit-animation: rotating 12s linear infinite;
}
.playersearch_view .playersearch_container p {
  display: inline-block;
  font-weight: bold;
  color: rgba(195, 79, 125, 0.9);
  font-size: 110px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin-top: 80px;
  z-index: 2;
}
.playersearch_view .playersearch_container p:active {
  color: rgba(151, 44, 103, 0.9);
}
.playersearch_view .playersearch_container p:hover {
  -webkit-transition: color 0.3s;
  /* Safari */
  transition: color 0.3s;
  color: rgba(151, 44, 103, 0.9);
}

.profile_view {
  width: 100%;
}
.profile_view .profile_view_container {
  width: 100%;
  background-color: #faf9f7;
}
.profile_view .profile_view_container .profile_head {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eae9e8;
  overflow: visible;
}
.profile_view .profile_view_container .profile_head .moewe_img {
  position: absolute;
  top: -50px;
  right: -52px;
}
.profile_view .profile_view_container .profile_head .profile_picture {
  margin: auto;
  display: block;
}
.profile_view .profile_view_container .profile_head .ranking {
  display: flex;
  padding-top: 20px;
  margin: auto;
}
.profile_view .profile_view_container .profile_head .ranking .ranking_icon {
  width: 17px;
  height: 28px;
}
.profile_view .profile_view_container .profile_head .ranking .ingame_name {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  color: #495c84;
  text-align: center;
}
.profile_view .profile_view_container .profile_head .ranking_name {
  font-size: 15px;
  color: #bc4a77;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 25px;
}
.profile_view .profile_view_container .profile_stats {
  color: #495c84;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #eae9e8;
  display: flex;
}
.profile_view .profile_view_container .profile_stats .stat {
  width: 33%;
  text-align: right;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.profile_view .profile_view_container .profile_stats .stat p {
  padding: 23px 10px;
  font-size: 18px;
  font-weight: normal;
}
.profile_view .profile_view_container .profile_stats .wins {
  background-image: url("../media/image/wins_icon.png");
}
.profile_view .profile_view_container .profile_stats .loses {
  background-image: url("../media/image/loses_icon.png");
  border-left: 1px solid #eae9e8;
  border-right: 1px solid #eae9e8;
}
.profile_view .profile_view_container .profile_stats .elo {
  color: #fbfaf8;
  position: relative;
}
.profile_view .profile_view_container .profile_stats .elo p {
  padding: 0;
  position: absolute;
  letter-spacing: 2px;
  top: 20px;
  right: 20px;
  font-size: 21px;
  text-shadow: 3px 0 0 #495c84, -3px 0 0 #495c84, 0 3px 0 #495c84, 0 -3px 0 #495c84, 2px 2px #495c84, -2px -2px 0 #495c84, 2px -2px 0 #495c84, -2px 2px 0 #495c84;
}
.profile_view .profile_view_container .recent_games_headline {
  padding: 21px 0 16px 30px;
  border-bottom: 1px solid #eae9e8;
}
.profile_view .profile_view_container .recent_games_headline .headline {
  color: #495c84;
  font-weight: bold;
  font-size: 16px;
}
.profile_view .profile_view_container .recent_games_headline .subline {
  font-size: 13px;
  color: #bcbcbc;
}

.recentgames_view {
  width: 100%;
  overflow: hidden;
  height: 219px;
}
.recentgames_view .recent_game_item {
  cursor: pointer;
  padding: 18px 0 19px 75px;
  border-top: 1px solid #eae9e8;
  position: relative;
}
.recentgames_view .recent_game_item:first-child {
  border-top: 0px;
}
.recentgames_view .recent_game_item:last-child {
  border-bottom: 1px solid #eae9e8;
}
.recentgames_view .recent_game_item:hover .opponent {
  color: #bc4a77 !important;
}
.recentgames_view .recent_game_item .game_stats .opponent {
  color: #495c84;
  font-weight: bold;
  font-size: 16px;
}
.recentgames_view .recent_game_item .game_stats .opponent_rank {
  font-size: 13px;
  color: #bcbcbc;
}
.recentgames_view .recent_game_item .arrow_container {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../media/image/right_arrow.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-color: #f1f2f3;
  width: 50px;
  height: 100%;
  border-bottom: 1px solid #eae9e8;
}

.admin_view {
  width: 100%;
  height: 100%;
  background-color: #faf9f7;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}
.admin_view .admin_container .close {
  background-image: url("../media/image/close-btn.png");
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 25px;
  padding: 5px;
  width: 18px;
  height: 18px;
}
.admin_view .admin_container .buttons {
  position: absolute;
  top: 70px;
  left: 740px;
}
.admin_view .admin_container .buttons .button {
  background-color: #bc4a77;
}
.admin_view .admin_container .inactives {
  margin-left: 220px;
  width: 435px;
  height: 573px;
  padding-top: 40px;
  overflow: hidden;
}
.admin_view .admin_container .inactives .inactive_user {
  width: 400px;
  margin-left: 2px;
  border-top: 1px solid #eae9e8;
  border-left: 1px solid #eae9e8;
  position: relative;
  line-height: 22px;
  padding: 10px 15px;
  margin-top: 2px;
  cursor: pointer;
}
.admin_view .admin_container .inactives .inactive_user:last-child {
  border-bottom: 1px solid #eae9e8;
}
.admin_view .admin_container .inactives .inactive_user.activate {
  outline: 2px solid #bc4a77;
}
.admin_view .admin_container .inactives .inactive_user.activate .add {
  background-image: url("../media/image/minus_icon.png");
}
.admin_view .admin_container .inactives .inactive_user .login_name {
  color: #495c84;
  font-weight: bold;
  font-size: 16px;
}
.admin_view .admin_container .inactives .inactive_user .ingame_name {
  color: #495c84;
  font-size: 16px;
}
.admin_view .admin_container .inactives .inactive_user .elo, .admin_view .admin_container .inactives .inactive_user .role {
  font-size: 13px;
  color: #bcbcbc;
}
.admin_view .admin_container .inactives .inactive_user .add {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../media/image/plus_icon.png");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-color: #f1f2f3;
  width: 50px;
  height: 100%;
}

.match_view {
  background-color: light-grey;
}

.grid_view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.grid_view .field {
  width: 60px;
  height: 60px;
}
.grid_view .field:hover {
  background: rgba(188, 74, 119, 0.5);
}

.placement_view .placement_container {
  display: flex;
  width: 1366px;
  height: 798px;
  background-image: url("../media/image/lnsu_background.jpg");
}
.placement_view .placement_container .game {
  margin-left: 47px;
  margin-top: 44px;
  height: 720px;
  width: 720px;
  background: url("../media/image/square.png") repeat;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}
.placement_view .placement_container .info_region {
  width: 478px;
  height: 708px;
  margin-top: 45px;
  margin-left: 61px;
  position: relative;
  background-color: #faf9f7;
  -webkit-box-shadow: 0px 0px 42px -12px #0e0d2a;
  -moz-box-shadow: 0px 0px 42px -12px #0e0d2a;
  box-shadow: 0px 0px 42px -12px #0e0d2a;
}
.placement_view .placement_container .info_region .save_ships {
  margin: 0;
}
.placement_view .placement_container .info_region .ships_region {
  position: relative;
  height: 430px;
  width: 325px;
}

.shipView {
  cursor: move;
  height: 60px;
  position: absolute;
  float: left;
  margin: 30px;
}
.shipView.dragging {
  padding: 0px;
}
.shipView .ship_view {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.shipView .ship_view.ship_bg_1 {
  background-image: url("../media/image/ships/ship_1.png");
}
.shipView .ship_view.ship_bg_2 {
  background-image: url("../media/image/ships/ship_2.png");
}
.shipView .ship_view.ship_bg_2.vertical {
  background-image: url("../media/image/ships/ship_2_v.png");
}
.shipView .ship_view.ship_bg_3 {
  background-image: url("../media/image/ships/ship_3.png");
}
.shipView .ship_view.ship_bg_3.vertical {
  background-image: url("../media/image/ships/ship_3_v.png");
}
.shipView .ship_view.ship_bg_4 {
  background-image: url("../media/image/ships/ship_4.png");
}
.shipView .ship_view.ship_bg_4.vertical {
  background-image: url("../media/image/ships/ship_4_v.png");
}
