 //  ###           ##                        
 // #   #           #                        
 // #       ###     #     ###   # ##    #### 
 // #      #   #    #    #   #  ##     #     
 // #      #   #    #    #   #  #       ###  
 // #   #  #   #    #    #   #  #          # 
 //  ###    ###    ###    ###   #      ####  

$box-grey: #e5e5e5;
$text-grey: #828282;
$text-white: #ffffff;
$key-orange: #f1705d;
$orange-active: #ED6044;
$inactive: #796570;

$boxShadow: 0px 0px 42px -12px rgba(14,13,42,1);
$magenta: #bc4a77;
$font_blue: #495c84;
$font_grey: #bababa;
$dashboard_border: #eae9e8;
$dashboardBG: #faf9f7;
$dashboardBG_darker: #f6f5f3;


//   ###     #                        
//  #   #                             
//  #       ##    #####   ###    #### 
//   ###     #       #   #   #  #     
//      #    #      #    #####   ###  
//  #   #    #     #     #          # 
//   ###    ###   #####   ###   ####  

$b-rad: 3px; // Border-Radius der Form-Elemente