 //  ###           ##                        
 // #   #           #                        
 // #       ###     #     ###   # ##    #### 
 // #      #   #    #    #   #  ##     #     
 // #      #   #    #    #   #  #       ###  
 // #   #  #   #    #    #   #  #          # 
 //  ###    ###    ###    ###   #      ####  

$box-grey: #e5e5e5;
$text-grey: #828282;
$text-white: #ffffff;
$key-orange: #f1705d;
$inactive: #796570;


//   ###     #                        
//  #   #                             
//  #       ##    #####   ###    #### 
//   ###     #       #   #   #  #     
//      #    #      #    #####   ###  
//  #   #    #     #     #          # 
//   ###    ###   #####   ###   ####  

$b-rad: 3px; // Border-Radius der Form-Elemente