
.signin_view {
    width: 100%;
    width:350px;
    margin:auto;
    
    #signin_region {
        
        .login_view {
        
            .login_form_wrapper {
                position: relative;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .register_view {
            
            .register_form_wrapper {
                position: relative;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .signin_link {
        cursor: pointer;
        padding: 10px 0;
        color: $key-orange;
        font-size: 18px;
        
        &:active {
            color: $key-orange;
        }
        
        &:visited, &:hover {
            color: $key-orange;
        }
    }
}
