
.dashboard_view {
    background-image: url("../media/image/lnsu_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height:798px;
    
    
    .dashboard_container
    {
        padding:25px;
        height:calc(100% - 50px);
        display:flex;
        
        .highscore_region
        {
            width: 320px;
            height: 314px;
            margin: 405px 0 0 120px;
            position:relative;
            
            -webkit-box-shadow: $boxShadow;
            -moz-box-shadow: $boxShadow;
            box-shadow: $boxShadow;
        }
        
        .playersearch_region
        {
            width: 320px;
            height: 295px;
            margin: 250px 80px 0 80px;
            position:relative;
        }
        
        .profile_region
        {
            width: 320px;
            height: 627px;
            margin-top: 88px;
            position:relative;
            background-color:#fcfbf9;
            overflow:hidden;
            
            -webkit-box-shadow: $boxShadow;
            -moz-box-shadow: $boxShadow;
            box-shadow: $boxShadow;
        }
    }
}