.match_view
{
    background-color:light-grey;
    
    .game_region
    {
        width:1366px;
        height:798px;
        background-image: url("../media/image/lnsu_background.jpg");
    }
}