
.placement_view
{
    
    .placement_container
    {
        display:flex;
        width:1366px;
        height:798px;
        outline:1px solid yellow;
        background-image: url("../media/image/lnsu_background.jpg");
        
        .game
        {
            margin: 45px;
            height: 708px;
            width: 708px;
            //background-color:red;
            background: url('../media/image/square.png') repeat;
            
            -webkit-box-shadow: $boxShadow;
            -moz-box-shadow: $boxShadow;
            box-shadow: $boxShadow;
        }
        
        .info_region
        {
            width: 478px;
            height: 708px;
            margin-top: 45px;
            position: relative;
            background-color:$dashboardBG;
            
            -webkit-box-shadow: $boxShadow;
            -moz-box-shadow: $boxShadow;
            box-shadow: $boxShadow;
            
            .ships_region
            {
                position: relative;
                
                .shipView
                {
                    padding:8px;
                    outline:1px solid black;
                    cursor: move;
                    
                    background: rgba(99,99,99,0.3);
                    position: absolute;
                    width: 50px;
                    float: left;
                    margin: 5px;
                        
                    .ship_view
                    {
                        
                    }
                }
            }
        }
    }
}